body
{
	background-color: #CCCCCC;
}

h1
{
	text-align: center;
	color: #007a99;
}

h2
{
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}

#table
{
	display: table;
	width: 100%;
}

.row
{
	display: table-row;
}

.filler
{
	height: 15px;
	width: 10px;
}

.item
{
	padding: 1px 5px 1px 5px;
	border: 5px;
	background-color: #FFFFFF;
	width: 30%;
	height: 250px;
	text-align: center;
	box-shadow: 0px 2px 15px #888888;
	display: table-cell;
	transition: background-color .4s ease 0s;
}

.item:hover
{
	background-color: #EEEEEE;
}

.leftPadding
{
	width: 15%;
	display: table-cell;
	height: 250px;
}

.rightPadding
{
	width: 15%;
	display: table-cell;
	height: 250px;
}

.middleColumn
{
	width: 10%;
	display: table-cell;
	height: 252px;
}