body
{
	background-color: #CCCCCC;
}

h1
{
	text-align: center;
	color: #007a99;
}

h2
{
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 5px;
	color: #ffa64d;
}

p
{
	color: #666666;
}

#table
{
	display: table;
	width: 100%;
}

.row
{
	display: table-row;
}

.filler
{
	height: 15px;
	width: 10px;
}

@keyframes jumpIn
{
	0% { transform: translateY(100px); }
	20% { transform: translateY(0px); }
	35% { transform: translateY(-60px); }
	52% { transform: translateY(0px); }
	64% { transform: translateY(-30px); }
	76% { transform: translateY(0px); }
	88% { transform: translateY(-15px); }
	100% { transform: translateY(0px); }
}

header
{
	padding: 5px 5px 5px 5px;
	border: 5px;
	background-color: #FFFFFF;
	width: 500px;
	text-align: center;
	box-shadow: 0px 2px 15px #888888;
	margin: 0px auto 20px auto;
	color: #666666;
	transition: background-color .4s ease 0s;
}

header:hover
{
	background-color: #EEEEEE;
	cursor: pointer;
}

.item
{
	padding: 1px 5px 1px 5px;
	border: 5px;
	background-color: #FFFFFF;
	width: 30%;
	height: 250px;
	text-align: center;
	box-shadow: 0px 2px 15px #888888;
	display: table-cell;
	transition: opacity .5s ease 0s;
	opacity: 0;
}

.item:hover
{
	opacity: 1;
	animation: jumpIn .75s forwards linear;
	cursor: default;
}

.noHoverItem
{
	padding: 1px 5px 1px 5px;
	border: 5px;
	background-color: #FFFFFF;
	width: 30%;
	height: 250px;
	text-align: center;
	box-shadow: 0px 2px 15px #888888;
	display: table-cell;
	opacity: 1;
}

.noHoverItem:hover
{
	cursor: default;
}

.leftPadding
{
	width: 15%;
	display: table-cell;
	height: 250px;
}

.rightPadding
{
	width: 15%;
	display: table-cell;
	height: 250px;
}

.middleColumn
{
	width: 10%;
	display: table-cell;
	height: 252px;
}