body
{
	background-color: #66ccff;
}

h1
{
	text-align: center;
	color: #FFFFFF;
	font-size: 45px;
}

p
{
	text-align: center;
	padding: 5px;
	background-color: #FFFFFF;
	color: #666666;
}

#download
{
	background-color: #DDDDDD;
	border: 5px;
	border-color: #DDDDDD;
	font-size: 15px;
	padding: 10px;
	border-radius: 4px;
	color: #666666;
	margin-top: 10px;
	transition: background-color .4s ease 0s;
}

#download:hover
{
	background-color: #BBBBBB;
	cursor: pointer;
}

#download:focus
{
	outline: none;
}

#move
{
	text-align: center;
}