body{
	margin: 0px;
	background-color: #777777;
}

.topBar{
	width: 100%;
	height: 40px;
	background-color: #777777;
}

.titleIntroBox{
	background-color: #00e6e6;
	width: 70%;
	height: auto;
	padding: 20px;
	margin: 0px 15% 0px 15%;
	border-radius: 5px;
}

.mainTitle{
	margin: 0px 0px 10px 0px;
	color: white;
	font-size: 72px;
	font-family: "Arial", helvetica, sans-serif;
}

.panoImg{
	width: 100%;
	border-radius: 5px;
}

.introBoxText{
	width: 40%;
	height: 10px;
}

.pIntroBoxText{
	font-family: "Arial", helvetica, sans-serif;
	font-size: 18px;
	display: inline-block;
}

.row{
	width: 100%;
	height: 400px;
}

.vid1{
	height: 100%;
	display: inline-block;
	margin: 0px auto 0px auto;
}

.vid2{
	height: 100%;
	display: inline-block;
}

.img1{
	height: 100%;
	display: inline-block;
}

.img2{
	height: 100%;
	display: inline-block;
}





